<mat-card class="MainCard">
    <mat-card-header>


    </mat-card-header>

    <mat-card-content>
      <div class="CardHeader">
      <h1 class="ShellyName">{{MyShelly.Name}}</h1>
      <h5 class="ShellyName">{{MyShelly.ShellyID}}</h5>
      <mat-icon  class="MainIcon" >highlight</mat-icon>
    </div>
      <div>
   
    <b class="InfoText">IP:</b>{{MyShelly.IP}}
      </div>

      <p>
      
      <b class="InfoText">State:</b>Online
      <mat-icon aria-hidden="false" aria-label="Example home icon" [class.OfflineState]="!MyShelly.ConnectionState" [class.onlineState]="MyShelly.ConnectionState">swap_horizontal_circle</mat-icon>
        </p>

      <div>    
            <button class="ActionButtons" mat-raised-button color="primary">Delete</button>
            <button   class="ActionButtons" mat-raised-button color="primary">Open-UI</button>
  
      </div>

    </mat-card-content>


  </mat-card>