
.MainIcon
{
	font-size: 140px;
	text-align: center;
	margin-left: 15%;

}

.MainCard :hover
{


}




.InfoText
{
	margin-left:10px; 


}

.ActionButtons
{
	width: 48%;
	margin-left:3px;
}

.ShellyName
{
	text-align: center;
font-weight: bold;
}
.MainCard
{
	width: 200px;
	height: 350px;
}

.OfflineState{
    color: red;
    border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulseRed 2s infinite;
}

.onlineState{
    color: greenyellow;
    border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulseGreen 2s infinite;
}



@keyframes pulseRed {
	0% {
	
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
	
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
	
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}


@keyframes pulseGreen {
	0% {
	
		box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
	}

	70% {
	
		box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
	}

	100% {
	
		box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
    }
}